
@*@{
    ViewBag.Title = "ProfileManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfileManagement</h2>

<a href="@Url.Action("ProfileManagement", "Home", new { id = "Trainer"})">Trainer</a>
<a href="@Url.Action("ProfileManagement", "Home", new { id = "Trainee"})">Trainee</a>*@